<section id="mu-hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-sm-push-6">
                <div class="mu-hero-right">
                    <img src='{{ "/images/books/ebookbanner.png" | prepend: site.baseurl }}' alt="Ebook img">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-sm-pull-6">
                <div class="mu-hero-left">
                    <h1>Perfect Landing Page Template to Present Your eBook</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam saepe, recusandae quidem nulla! Eveniet explicabo perferendis aut, ab quos omnis labore laboriosam quisquam hic deserunt ipsum maxime aspernatur velit impedit.</p>
                    <a href="#" class="mu-primary-btn">Download Now!</a>
                    <span>*Avaliable in PDF, ePUB, Mobi & Kindle.</span>
                </div>
            </div>

        </div>
    </div>
</section>