<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Về Tác giả </h4>
                <h5 style="text-align: justify;color:white">
                    Chào các bạn, anh là Lê Vũ Nguyên đây. Hẳn các bạn đã đọc đâu đó bài viết của anh rồi và anh rất vui được gặp các bạn tại Blog này.
                    Với hơn 10 năm kinh nghiệm trong lĩnh vực phát triển phần mềm cho các công ty Âu, Mỹ và Nhật, anh luôn mong muốn được chia sẻ những kiến thức trong nghề lập trình để truyền cảm hứng và tiếp thêm kiến thức cho những ai đang theo đuổi công nghệ thông tin.
                    Anh đã có 2 năm giữ vị trí giám đốc vận hành tại công ty IT  SmartDev ( Thuỵ Sĩ), 1 năm là Group Leader tại công ty Framgia (Nhật) và
                    hơn 8 năm kinh nghiệm Fullstack Developer tại các công ty phần mềm Mỹ. Co-Founder sáng lập nhóm lập trình Agile Developer Đà Nẵng và là diễn giả của cộng đồng Agile Việt Nam.
                    Anh cũng thường xuyên đi coaching quy trình cho các doanh nghiệp phần mềm. Và hiện nay, anh đang là cố vấn công nghệ tại CodeGym Đà Nẵng. Nếu muốn gặp và trao đổi về nghề lập trình cùng anh, các bạn có thể tới CodeGym Đà Nẵng! Và đừng quên đăng ký để nhận thông tin bài viết về công nghệ mới nhất trong ngành lập trình nhé!
                </h5>
            </div>

            <div class="col-xl-6 col-lg-6 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4 style="text-align: justify;color:white">Newsletter</h4>
                <!-- Begin Mailchimp Signup Form -->
                <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=G6iXR&webforms_id=SoNPY" data-webform-id="SoNPY"></script>
                <!--End mc_embed_signup-->

            </div>
        </div>
        <div class="copyright_text">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="copyright_part">
                        <h6 class="footer-text m-0"><span class="px-2" style="color:white">Copyright © 2020 All rights reserved | By Lê Vũ Nguyên </span></h6>
                    </div>
                </div>
                <div class="col-lg-4 text-center text-lg-right">
                    <div class="footer-social">
                        <a href="#"><i class="ti-facebook"></i></a>
                        <a href="#"><i class="ti-instagram"></i></a>
                        <a href="#"><i class="ti-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
