<header id="mu-header" class="" role="banner">
	<div class="container">
		<nav class="navbar navbar-default mu-navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<!-- Text Logo -->
					<a class="navbar-brand" href="/"><i class="fa fa-book" aria-hidden="true"></i> Tự Học Lập Trình</a>

					<!-- Image Logo -->
					<!-- <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png"></a> -->


				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<nav class="navbar-default navbar-expand-md navbar-light bg-light" >

					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="https://levunguyen.com" target="_blank"> Blog Học Lập Trình <span class="sr-only">(current)</span></a>
							</li>

							<li class="nav-item active">
								<a class="nav-link" href="https://hoclaptrinhonline.asia" target="_blank"> Khoá Học Lập Trình Online</a>
							</li>

							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Sách Học Lập Trình
								</a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<li><a class="dropdown-item" href="https://levunguyen.com/tam-su-nghe-lap-trinh-vien/">Tâm sự</a></li>
									<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Front End</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-htmlcss/">HTML&CSS</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-javascript/">Javascript</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-angular/">Angular</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-react/">React</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-vuejs/">Vuejs</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Back End</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-java/">Java</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-spring/">Spring</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-dotnet/">DotNet</a></li>
											<li><a class="dropdown-item" href="#">PHP</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-nodejs/">NodeJS</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-python/">Python</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Database</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">MySql</a></li>
											<li><a class="dropdown-item" href="#">MongoDB</a></li>
											<li><a class="dropdown-item" href="https://hoclaptrinhdanang.com/download-sach-elasticsearch/">ElasticSearch</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Testing</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Manual</a></li>
											<li><a class="dropdown-item" href="#">Automation</a></li>
											<li><a class="dropdown-item" href="#">Performance</a></li>
										</ul>
									</li>

									<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="http://google.com">Other</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="#">Docker</a></li>
											<li><a class="dropdown-item" href="#">Git</a></li>
											<li><a class="dropdown-item" href="#">Craftmanship</a></li>
										</ul>
									</li>

								</ul>
							</li>
						</ul>
					</div>
				</nav>

				<!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
</header>