<!doctype html>
<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta property="fb:app_id"       content="236029874433209" />

		<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
		<title>{{ page.title }} trong Javascript | Lê Vũ Nguyên Dạy Học Lập Trình</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


		<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
		<!-- style CSS -->
		<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >

		<link rel="stylesheet" href='{{ "/css/pygments-3024-night.css" | prepend: site.baseurl }}' >

		<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
		<!-- bootstrap js -->
		<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
		<!-- custom js -->
		<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=236029874433209&autoLogAppEvents=1"></script>

		{% seo %}

		<script src="https://apis.google.com/js/platform.js"></script>

		<!-- Facebook Pixel Code -->
		<script>
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};
				if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
				n.queue=[];t=b.createElement(e);t.async=!0;
				t.src=v;s=b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t,s)}(window, document,'script',
					'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '260524451750950');
			fbq('track', 'PageView');
		</script>
		<noscript><img height="1" width="1" style="display:none"
					   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
				/></noscript>
		<!-- End Facebook Pixel Code -->

<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

	<body>


		<div id='layout'>
			{% include header.html %}
			<div style='clear: both'></div>
		</div>

		<!-- banner post -->
			{% include banner.html %}
		<!-- end banner post-->

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-2 col-sm-2" style="display: table;font-size: medium;padding: 0px;line-height: 40px;">
					<div>
						<span style="background: #fde3db; display: block; color: red; font-size: large;text-align: center"> JavaScript </span>
					</div>
					<div>
						{% assign sorted = site.categories.laptrinhjavascript | reverse %}
						{% for post in sorted  %}
								{% if post.tags contains 'javascript' %}
									<div >
										<ul>
											<li style="list-style-type: asterisks;">
												<a style="color:black" href='{{post.url}}'>{{post.summery}} </a>
											</li>	
										</ul>				
									</div>
								{% endif %}
							{% endfor %}
					</div>
				</div>

				<div class="col-lg-7 col-sm-7" style="border:5px solid #fde3db">
					<div id='page'>
						<div style="width:100%;text-align:center;padding-top: 30px"> <img src="{{ page.featureImage }}"></div>
						<h1 style="margin-top: 0px;padding-top: 0px;font-size: 50px;color:red">{{page.title}}</h1>
						<div class="post-meta">
							<div class="post-meta-content" style="text-align: right">
								<span class="post-auhor-date">
									<span>
										<a class="post-author">nguyen.le</a>
									</span>,
									<a  class="post-date">
										{{ post.date | date: "%B %d, %Y"}}
									</a>
								</span>
								<span class="post-readtime">
									<i class="icon icon-clock"></i> 15 min <span>read</span> </span>
								</span>
							</div>
						</div>
						
						<div id="contentPost">
							{% if content == "" %}
								<div> Khoá học lập trình JavaScript </div>

								<p>
									Javascript là ngôn ngữ được sử dụng phổ biến trong các ứng dụng web hiện nay. Hầu hết các lập trình viên frontend đều bắt đầu học Javascript đầu tiên.
								</p>

								<p>
									Các em hãy click vào các bài học bên tay trái. Anh đã sắp xếp các chủ đề từ cơ bản đến nâng cao.
								</p>
							{% endif %}
							{{content}}
							
							<p> 
								Xin vui lòng bình luận bài viết dưới đây có hữu ích hay không? Nếu có nhiều bài viết khác mà anh chưa kịp cập nhật các em có thể bình luận kèm link liên kết anh sẽ cập nhật bài viết của mình nhé.
							</p>
							<h3>Mọi người hãy subcribe kênh youtube dưới đây nhé. Videos về các kỹ năng mềm và lập trình sẽ được cập nhật hằng tuần</h3>
							<div class="g-ytsubscribe" data-channelid="UC8VjQlFZWLrB-Nq7pQ0zGgA" data-layout="default" data-count="default"></div>
						</div>

						<div>
							<hr style="border: 1px solid red" />
							<h4>Comments</h4>
							<div class="fb-comments" data-href="https://levunguyen.com{{ page.url }}" data-colorscheme="dark" data-num-posts="4" data-width="706"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-3">
					<div>
						<div class="single_post post_1" style="margin-top : 10px" >
							<div style="width: 300px;">
								<a href="https://danang.codegym.vn">
									<img src='{{"/images/banner/dcc.jpg"  | prepend: site.baseurl }}' style="max-width: 100%"> <br>
								</a>
							</div>
							<div style="width: 300px;">
								<a href="https://danang.codegym.vn/khoa-hoc-accelerator-java/">
									<img src='{{"/images/banner/bannerlopdem.jpg"  | prepend: site.baseurl }}' style="max-width: 100%">
								</a>
							</div>

							<h6> <span style="color:#fc4600">    <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/codegymdanang" data-width="300" data-show-social-context="false" data-show-metadata="true">
							</div>
							<h6> <span style="color:#fc4600">  <span> </span></span></h6>
							<div class="fb-group" data-href="https://www.facebook.com/groups/danangagiledeveloper/" data-width="300" data-show-social-context="true" data-show-metadata="true"></div>

						</div>


						<!-- Display Google Ads -->
						<div>
							<ins class="adsbygoogle"
							     style="display:block"
							     data-ad-client="ca-pub-4551247919940215"
							     data-ad-slot="1895345148"
							     data-ad-format="auto"
							     data-full-width-responsive="true"></ins>
							<script>
							     (adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						</div>
					<!-- End Display Google Ads -->


					</div>
				</div>


			</div>

		</div>


		<div id='footer'>
			{% include footer.html %}
		</div>

	</div>
	{% include googleana.html %}
	
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</body>
</html>
