<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >
	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >
	<link rel="stylesheet" href='{{ "/css/themify-icons.css" | prepend: site.baseurl }}' >

	<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
	<!-- bootstrap js -->
	<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
	<!-- custom js -->
	<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

	{% seo %}
</head>

<body>
<!--::header part start::-->
<div >
	{% include header.html %}
	<div style='clear: both'></div>
</div>
<!-- Header part end-->
<!-- banner post -->
{% include banner.html %}
<!-- end banner post-->

<!-- feature_post start-->
<section class="all_post section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-12">
						<div class='relatedposts'>
							<h4>Cơ sở dữ liệu </h4>
						</div>
						<div class="row">
							{% for post in site.categories.database  %}
								{% if post.tags contains 'database' %}
									<div class="col-lg-3 col-sm-3">
										<div class="single_post post_1">
											<div class="single_post_img">
												{% if post.image %}
												<a href='{{post.url | relative_url }}'><img class='post-image' src="{{post.image | relative_url}}" /></a>
												{% endif %}
											</div>
											<div class="single_post_text text-center">
												<a href='{{post.url | relative_url }}'>
													<h5 class='post-title'>{{post.title}}</h5>
												</a>
												<h6>Posted : {{ post.date | date: "%B %d, %Y"}}</h6>
											</div>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						<div class="row">
							<!-- Pagination links -->
							<!-- pagination -->
							{% if paginator.total_pages > 1 %}
							<div class="pagination">
								{% if paginator.previous_page %}
								<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
								{% else %}
								<span>&laquo; Prev</span>
								{% endif %}

								{% for page in (1..paginator.total_pages) %}
								{% if page == paginator.page %}
								<span class="webjeda">{{ page }}</span>
								{% elsif page == 1 %}
								<a href="/">{{ page }}</a>
								{% else %}
								<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
								{% endif %}
								{% endfor %}

								{% if paginator.next_page %}
								<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
								{% else %}
								<span>Next &raquo;</span>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</section>
<!-- feature_post end-->


<div id='footer'>
	{% include footer.html %}
</div>
</div>
{% include googleana.html %}

</body>
</html>
