<!doctype html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="học lập trình, lập trình java , lập trình spring, hướng dẫn học lập , tự học lập trình ">
  <meta name="keywords" content="java, spring, lập trình web ">

	<link href="/blog/rss.xml" rel="alternate" type="application/rss+xml" title="{{site.blog_title}}" />
	<title>{{site.blog_title}}</title><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


	<link rel="icon" href='{{ "/images/favicon.png" | prepend: site.baseurl }}' >
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href='{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}' >

	<!-- style CSS -->
	<link rel="stylesheet" href='{{ "/css/style.css" | prepend: site.baseurl }}' >
	<link rel="stylesheet" href='{{ "/css/themify-icons.css" | prepend: site.baseurl }}' >


	<script src='{{"/js/jquery-1.12.1.min.js"  | prepend: site.baseurl }}'></script>
	<!-- bootstrap js -->
	<script src='{{"/js/bootstrap.min.js"  | prepend: site.baseurl }}' ></script>
	<!-- custom js -->
	<script src='{{"/js/custom.js"  | prepend: site.baseurl }}'> </script>

	{% seo %}

	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
				n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '260524451750950');
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
				   src="https://www.facebook.com/tr?id=260524451750950&ev=PageView&noscript=1"
			/></noscript>
	<!-- End Facebook Pixel Code -->
<script data-ad-client="ca-pub-4551247919940215" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

</head>

<body>

<!--::header part start::-->
<div >
	{% include header.html %}
	<div style='clear: both'></div>
</div>
<!-- Header part end-->

<!-- banner post -->
{% include banner.html %}
<!-- end banner post-->

<!-- feature_post start-->
<section class="all_post section_padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-12">
						<div class='relatedposts'>
							<h4> Lời nói đầu </h4>
						</div>
					</div>
					<div class="row">
						<div class="post-container">
							Chào mừng các bạn đến với blog của anh. Trong Blog này anh tổng hợp lại các kỷ thuật lập trình,
							các thư viện, frameworks và các kỷ năng mềm mà anh đã trải qua trong suốt 15 năm làm nghề lập trình.
							<br><br>

							Đến với Blog này, anh sẽ truyền đạt lại tất cả các kiến thức từ frontend , backend, devops , testing, qui trình
							mà anh đã áp dụng thành công trong các dự án của anh cho các em.
							<br><br>

							Ngoài các blogs về kỷ thuật thì anh cũng viết các bài về kỷ năng mềm , nhằm giúp các em có định hướng tốt khi đi làm
							đồng thời những kiến thức này sẽ là nền móng để các em phát triển bản thân trong tương lai.
							<br><br>
							<h2 style="text-align:center">Chúc các em sẽ thành công trên con đường trở thành lập trình viên giỏi trong tương lai.</h2>
						</div>
					</div>
				</div>
				<!-- Công nghệ Java -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Công nghệ Java </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/hoc-lap-trinh-java/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/java.png" | prepend: site.baseurl }}' >
	                                	<p>Java</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/hoc-lap-trinh-spring-core/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/spring_core.png" | prepend: site.baseurl }}' >
	                                	<p>Spring Core</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/hoc-lap-trinh-spring-web/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/spring.png" | prepend: site.baseurl }}' >
	                                	<p>Spring Framework</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End công nghệ java -->

				<!-- Công nghệ web -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Công nghệ Web </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-html/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/html.png" | prepend: site.baseurl }}' >
	                                	<p>HTML</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-css/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/css.png" | prepend: site.baseurl }}' >
	                                	<p>CSS</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-javascript/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/javascript.png" | prepend: site.baseurl }}' >
	                                	<p>JavaScript</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-bootstrap/">
										<div class="homecontent">
											<img style="text-align: center;" src='{{ "/images/blog/boostrap.png" | prepend: site.baseurl }}' >
											<p>Bootstrap</p>
										</div>
									</a>
								</div>

								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-typescript/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/typescript.png" | prepend: site.baseurl }}' >
	                                	<p>TypeScript</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-3">
									<a href="https://levunguyen.com/hoc-lap-trinh-angular/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/angular.png" | prepend: site.baseurl }}' >
	                                	<p>Angular</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End công nghệ web -->

				<!-- Nghệ nhân lập trình -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Trở thành Nghệ Nhân lập trình </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/hoc-lap-trinh-java-chuyen-sau/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/thebestcoder.png" | prepend: site.baseurl }}' >
	                                	<p>The best coder</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/ky-thuat-lap-trinh-java-refactoring/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/refactoring.png" | prepend: site.baseurl }}' >
	                                	<p>Refactoring</p>
	                            		</div> 
	                        		</a>	
								</div>

								<div class="col-lg-4"> 
									<a href="https://levunguyen.com/hoc-lap-trinh-design-pattern/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/design-patterns.png" | prepend: site.baseurl }}' >
	                                	<p>Design Pattern</p>
	                            		</div> 
	                        		</a>	
								</div>

							</div>
						</div>

					</div>

				</div>
				<!-- End Nghệ nhân lập trình  -->

				<!-- Database -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Cơ sở dữ liệu </h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-6"> 
									<a href="https://levunguyen.com/co-so-du-lieu-mysql/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/mysql.png" | prepend: site.baseurl }}' >
	                                	<p>MySql</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-6"> 
									<a href="https://levunguyen.com/co-so-du-lieu-none-relational-database/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/mongodb.png" | prepend: site.baseurl }}' >
	                                	<p>Mongo DB</p>
	                            		</div> 
	                        		</a>	
								</div>


							</div>
						</div>

					</div>

				</div>
				<!-- End Nghệ nhân lập trình  -->

				<!-- Nghề dev  -->
				<div class="row">
					<div class="row">
						<div class="col-lg-12">
							<div class="col-lg-12">
								<div class='relatedposts'>
									<h4> Nghề lập trình</h4>
								</div>
							</div>
							<div class="row">
								
								<div class="col-lg-6"> 
									<a href="https://levunguyen.com/tam-su-nghe-lap-trinh-vien/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/tamsu.png" | prepend: site.baseurl }}' >
	                                	<p>Tâm sự Dev</p>
	                            		</div> 
	                        		</a>	
								</div>	

								<div class="col-lg-6"> 
									<a href="https://levunguyen.com/ky-nang-hoc-lap-trinh/">
	                            		<div class="homecontent">
	                            			<img style="text-align: center;" src='{{ "/images/blog/softskills.png" | prepend: site.baseurl }}' >
	                                	<p>Softskills</p>
	                            		</div> 
	                        		</a>	
								</div>


							</div>
						</div>

					</div>

				</div>
				<!-- End Nghề Dev -->
			</div>

			<div class="col-lg-4">
				<div class="sidebar_widget">
					<!-- Stay Connect -->
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Stay Connect</h3>
						</div>
						<div class="social_share_icon tags">
							<ul class="list-unstyled">
								<li><a href="https://www.facebook.com/groups/danangagiledeveloper/"><i class="ti-facebook"></i></a></li>
                				<li><a href="https://www.youtube.com/channel/UC8VjQlFZWLrB-Nq7pQ0zGgA"><i class="ti-youtube"></i></a></li>
                				<li><a href="https://github.com/levunguyen"><i class="ti-github"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="single_sidebar_wiget">
						<div class="sidebar_tittle">
							<h3>Website học lập trình</h3>
						</div>
						<div class="single_catagory_item category">
							<ul class="list-unstyled">
								<li><a href="https://tapchilaptrinh.vn" target="_blank"> Tạp chí lập trình </a>  </li>
								<li><a href="https://hocjava.com" target="_blank" > Học Java </a>  </li>
								<li><a href="https://hocphp.net/" target="_blank" > Học Php </a> </li>
								<li><a href="https://hoclaravel.net/" target="_blank"> Học Laravel </a> </li>
								<li><a href="https://hocspringboot.net/" target="_blank"> Học SpringBoot </a> </li>
								<li><a href="https://hocspringmvc.net/" target="_blank"> Học SpringMVC</a> </li>
								<li><a href="https://hocjavascript.net/" target="_blank"> Học JavaScript </a> </li>
								<li><a href="https://codingbootcamp.vn/" target="_blank"> Coding Bootcamp </a> </li>
							</ul>
						</div>
					</div>
					


				</div>
			</div>
		</div>

	</div>
</section>
<!-- feature_post end-->




<div id='footer'>
	{% include footer.html %}
</div>
</div>
{% include googleana.html %}


</body>
</html>
